<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.ico">
  <meta name="google-signin-client_id"
        content="30682096056-dk73ktm04am15iitl3a83835las2n4al.apps.googleusercontent.com">

  @entryPointScripts('app')
  @entryPointStyles('app')
</head>
<body>
  @inertia()
</body>
</html>
